{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <fieldset>
                    <legend>{{ 'New User Role Create' }}</legend>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary" type="submit">{{ 'Submit' }}</button>
                    {{ form_end(form) }}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}